/*********************
General
*********************/

a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 900px;
}

form {
    margin: 1em auto;
    padding: 1em;
}

label {
    display: inline-block;
    width: 11%;
    text-align: right;
}

/*********************
Heading
*********************/

header {
    margin-top: 0;
    padding: 1em 0;
}

header h1, h2 {
    text-align: center;
    font-family: sans-serif;
}

aside ul li {
    list-style-type: none;
}

/*********************
Index
*********************/

#add {
    text-align: center;
    margin: 2em 0;
}

.entry h3 {
    float: left;
}

.dateline {
    float: right;
}

.entry {
    margin: 2em 0;
    padding: inherit 0;
    overflow: hidden;
}

.entry_body {
    clear: both;
}


/*********************
Detail
*********************/


/*********************
Login
*********************/

#login {
    margin: 0 auto;
}

/*********************
Create & Edit
*********************/

.add_entry input[type=text], textarea {
    width: 80%;
    box-sizing: border-box;
}

.add_entry input[type=text] {
    font: 2em sans-serif;
    vertical-align: middle;
}

textarea {
    font: 1em serif;
    vertical-align: top;
    height: 10em;
    resize: vertical;
}

.control_row{
    margin-left: 11%;
    padding-left: .25em;
}

/*********************
Footer
*********************/

footer {
    text-align: center;
    margin: 5em 0 0;
}

footer a {
    margin: 0 5%;
}

/*********************
Colors
*********************/

a {
    color: steelblue;
}

a:hover {
    color: blue;
}

header {
    background-color: steelblue;
}

header h1, header h2 {
    color: white;
}

#user-controls a {
    color: white;
}
