{% extends "base.jinja2" %}
{% block body %}
  {% if request.authenticated_userid %}
    <div id="add">
      <a href="{{ request.route_url('add') }}" >Add a new post</a>
    </div>
  {% endif %}
  {% for entry in entries %}
  <article class="entry" id="entry={{entry.id}}">
    <a href="/detail/{{entry.id}}"><h3>{{ entry.title }}</h3></a>
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}
    <div class="entry_body">
      {{ entry.text|safe }}
    </div>
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}
{% endblock %}